<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs') %>     
    <div class="details content">
        <h2><%= hero.hname %> </h2>
        <div class="content">
            <div>Status : <%= hero.status %> </div>
            <p>Quirk : <%= hero.quirk %> </p>
            <% if (hero.body.length > 0) { %>
                <p><%= hero.body %> </p>
            <% } else { %>
                <p>No description Available</p>
            <% } %> 
            <p></p>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>