<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs') %>     
    <div class="details content">
        <h2><%= hero.hname %> </h2>
        <div class="content">
            <div>Status : <span><%= hero.status %></span> </div>
            <p class="quirk">Quirk : <span><%= hero.quirk %></span> </p>
            <% if (hero.body.length > 0) { %>
                <p><%= hero.body %> </p>
            <% } else { %>
                <p>No description Available</p>
            <% } %> 
            <a class="delete" data-doc="<%= hero.id %>">
                <img src="/trashcan.svg">
            </a>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
<script>
    const trash = document.querySelector('a.delete');

    trash.addEventListener('click', (e) => {
        const endpoint = `/heroes/${trash.dataset.doc}`;
    
        const fet = async(endpoint) => {
            const res = await fetch(endpoint, { method : 'DELETE' });
            return res.json();
        }
        
        fet(endpoint)
            .then((data)=> window.location.href = data.redirect)
            .catch(err => console.log(err));
    })
</script>
</html>