<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    
    <div class="heroes content">
        <h2>All heros</h2>
        <% if (heroes.length > 0) { %>
            <% heroes.forEach(element => { %>
                <a class="single" href="/heroes/<%= element.id %>">
                    <h3 class="hname"><%= element.hname %> </h3>
                    <p class="quirk">Quirk : <span><%= element.quirk %></span> </p>
                </a>
            <% }) %> 
        <% } else { %>
            <p>No Heros to save the city</p>
        <% } %> 
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>