<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    
    <div class="blogs content">
        <h2>All heros</h2>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(element => { %>
                <h3 class="hname"><%= element.hname %> </h3>
                <div class="status">Status : <%= element.status %> </div>
                <p class="quirk">Quirk : <%= element.quirk %> </p>
            <% }) %> 
        <% } else { %>
            <p>No Heros added</p>
        <% } %> 
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>